[Desktop Entry]
Name=Virtual Machine Manager
Name[zh_CN]=虚拟系统管理器
Name[zh_TW]=虛擬機管理員
Comment=Manage virtual machines
Icon=virt-manager
Exec='systemctl start libvirtd ebtables dnsmasq && virt-manager'
Type=Application
Terminal=false
Categories=System;
